@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  color: #ffffff;
  font-synthesis: none;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background: rgba(67, 123, 242, 0.85);
}

button,
input,
textarea,
select {
  font: inherit;
}